<footer id="footer" class="sixteen columns" data-hook>
  <div class="container">
    
    <div class="four columns">
      <%= image_tag "/assets/logo-white.png", :alt => "salasarindia", :id => "footer-logo" %>
      <br>
      <br>
     
      <br>
      
      <br>
      
    </div>

    <div class="four columns">
      
      <div class="phone">
        <h3><a href="callto:">91-9030027630</a></h3>
        </div>
      <br>
    </div>
     <div class="four columns">
      
      <div class="email">
       <h3> <a href="mailto:info@salasarindia.com">info@salasarindia.com</a></h3>
      </div>
      <br>
    </div>
    <div class="four columns">
      
      <div class="address">
        SALASAR INDUSTRIES INDIA LTD.<BR>
        4-3-73/1,HILL STREET,RANI GUNJ
        <br>
        SECUNDRABAD , AP,INDIA - 500035
      </div>
      <br>
      
    </div>
    
    
   <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45289805-1', 'salasarindia.com');
  ga('send', 'pageview');

</script> 
    

    
    <!-- <div class="four columns">
      <h5>Our Best Offers</h5>
      <ul>
        <li><a href="/products">New Products</a></li>
        <li><a href="/products">Top Sellers</a></li>
        <li><a href="/products">Specials</a></li>
        <li><a href="/products">Manufacturers</a></li>
        <li><a href="/products">Suppliers</a></li>
        <li><a href="/products">Service</a></li>        
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Regular Services</h5>
      <ul>
        <li><a href="/products">Contact</a></li>
        <li><a href="/products">Shipping Info</a></li>
        <li><a href="/products">Returns</a></li>
        <li><a href="/products">F.A.Q.</a></li>
        <li><a href="/products">Size Chart</a></li>
        <li><a href="/products">Personal Shopper</a></li>
      </ul>
    </div>
    
    <div class="four columns">
      <h5>Important info</h5>
      <p>
        This website is <strong>NOT</strong> a real store, 
        it's a fully working demo application for 
        <a href="http://spreecommerce.com" target="_blank">Spree Commerce</a>. 
        Please feel free to play around, but don't submit 
        any information you would not consider public!
      </p>
    </div> -->
    
  </div>
</footer>